HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.DS_Store


### VS Code ###
.vscode/

20*

logPath_IS_UNDEFINED
dependency-reduced-pom.xml
